#bg {
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.base {
  width: 1920px;
  height: 1080px;
  padding-top: 10px;
  position: absolute;
  display: inline-flex;
}

.container {
  position: relative;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #ffffff15;
}

.CC {
  display: inline;
  position: relative;
  float: left;
  height: 100%;
  width: 740px;
  margin-right: 20px;
  margin-left: 10px;
}

.DD {
  float: left;
  display: inline;
  position: relative;
  width: 360px;
  height: 100%;
  margin-right: 20px;
}
.FF{
  width: 740px;
  height: 1040px;
  position: relative; 
}
.FF .imgHolder {
  top: 0;
  left: 0;
  float: left;
  display: grid;
  overflow: scroll;
  scroll-snap-points-y: repeat();
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  scrollbar-width: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.FF .imgHolder::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.imgHolder img {
  scroll-snap-align: center;
  position: relative;
  margin: 20px;
  width: 100%;
}
.group_I {
  width: 100%;
  position: relative;
  display: inline-flex;
}

.group_I .c_I {
  display: inline;
}

#c {
  width: 360px;
  height: 180px;
  color: aliceblue;
}

#j {
  color: aliceblue;
  width: 360px;
  height: 360px;
}

.group_I .c_II {
  display: inline;
}

#g {
  color: aliceblue;
  width: 360px;
  height: 180px;
}

#h {
  color: aliceblue;
  width: 360px;
  height: 360px;
}
#h video{
  height: 100%;
  width: 100%;
}

#music {
  width: 740px;
  height: 160px;
  color: aliceblue;
}

#commandPrompt {
  width: 740px;
  height: 280px;
}

#d {
  width: 360px;
  height: 360px;
  color: aliceblue;
}

#f {
  color: aliceblue;
  width: 360px;
  height: 520px;
}

#i {
  color: aliceblue;
  width: 360px;
  height: 120px;
}

#chatbox {
  width: 740px;
  height: 1040px;
}