#logoVideo {
  height: 100%;
  pointer-events: none;
}
#logoVideo :hover {
  pointer-events: none;
}
#logoVideoSquare {
  height: 100%;
  pointer-events: none;
}
.logo {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  position: relative;
  border-radius: 12px;
}
